#header {
    background: #00ccff;
    height: 10%;/* tinggi header */
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;

}

#sidebar {
    background: #99ccff;
    float: left;
    height: 400px; /* tinggi sidebar */
    width: 40%; /* lebar sidebar */
    font-size: 1.5em;
    text-align: center; 
    padding-top: 20px; /*jarak border ke konten atas*/

}

#content {
    background: #9999ff;
    float: right; /* property untuk mengatur elemen mengapung atau tidak */
    width: 60%; /* lebar content */
    height: 400px; /* tinggi content */
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
}

#footer {
    background: #3399ff;
    clear: both; /* property untuk membersihkan element yang sebelumnya telah mengalami float */
    font-size: 1.5em;
    text-align: center;
}

