img
{
    float: right;
    width: 250px;
    padding-right: 20px;
}

p
{
    color: black;
    background-color: aquamarine;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
}